.chapter(data-title='Learn to build a RingCentral App with Ringcentral Widgets')
  .chapter(data-title='Get started')
    .step(data-title='Prerequisites', data-file='README.md', data-highlight='4-15')
      :markdown
        ## Prerequisites

        * Install Node.js with version >= 8
        * Create a [RingCentral developer free account](https://developer.ringcentral.com)
        * Create a new RingCentral app with platform type - "Browser Based"
        * Add `Read Accounts` and `Subscription Webhook` to permissions
        * install `ringcentral-widgets-cli`

    .step(data-title='Initialize base project', data-file='README.md', data-highlight='18-25')
      :markdown
        ### Initialize project

        we initialize widgets project with [RingCentral Widgets CLI](https://github.com/ringcentral/ringcentral-js-widgets/tree/master/packages/ringcentral-widgets-cli).

        ```
        $ rc-widgets new ringcentral-widgets-demo
        $ cd ringcentral-widgets-demo
        $ yarn
        ```

        ### Read more

        The app is based on [RingCentral Commons](https://github.com/ringcentral/ringcentral-js-integration-commons) and [RingCentral Widgets](https://github.com/ringcentral/ringcentral-js-widgets).

        Commons modules are built with [RcModule](https://github.com/ringcentral/ringcentral-js-integration-commons/blob/master/docs/creating-modules.md) and [Dependency Injection](https://github.com/ringcentral/ringcentral-js-integration-commons/blob/master/docs/dependency-injection.md).

        RingCentral Commons depend on [Redux](https://redux.js.org/).

        RingCentral Widgets depend on [React](https://github.com/facebook/react) and [RingCentral Commons](https://github.com/ringcentral/ringcentral-js-integration-commons).

    .step(data-title='Update .env file', data-file='.env.default')
      :markdown
        Update .env with app info in ringcentral developer website.

        ```
        vim .env
        ```

        `RINGCENTRAL_CLIENT_ID` is your ringcentral app client id.

        `RINGCENTRAL_CLIENT_SECRET` is your ringcentral app client secret.

        `RINGCENTRAL_SERVER_URL` is ringcentral api server, `https://platform.devtest.ringcentral.com` for sandbox environment and `https://platform.ringcentral.com` for production.

        `REDIRECT_URI` is redirect uri that needs to add in your app settings in RingCentral Developer Website. For development in local, it should be `http://localhost:8080/redirect.html`. After your deploy this app to network space, it should be `your_host_address/redirect.html`.

    .step(data-title='Start development server', data-file='README.md', data-highlight='35-40')
      :markdown
        Start development server

        ```
        yarn start
        ```

        Visit on [http://localhost:8080](http://localhost:8080) in browser

    .step(data-title='Build for production', data-file='README.md', data-highlight='41-55')
      :markdown
        Build for production

        * Update `.env` file with production config, such as `RINGCENTRAL_SERVER_URL` and `REDIRECT_URI`.
        * Build project

        ```
        $ yarn build
        ```

        * Upload files in release folder to your network space and visit it in browser.

  .chapter(data-title='Add call history feature to App')
    .step(data-title='Add call history feature to App', data-file='README.md')
      :markdown
         Now you have finished a based RingCentral app with Widgets. So let's start to add call history feature to it.

         It includes 3 steps:

         * Add call history related modules to Phone module
         * Add call history UI container and router to App container
         * Add call history and active calls tab to MainView

         ### Add permissions

         Before we start, you need to add `Read CallLog` and `Edit Presence` permissions to your [RingCentral app](https://developer.ringcentral.com).

    .step(data-title='Add call history related modules to Phone module', data-file='src/modules/Phone/index.js' data-highlight='25-28,77-80')
      :markdown
        ## Update Phone module

        * Import call history related modules
        * Add call history related modules to dependences

    .step(data-title='Add call history UI container and router to App container', data-file='src/containers/App/index.js' data-highlight='12-13,86-96')
      :markdown
        ## Update App container

        * Import `ActiveCallsPage` and `CallHistoryPage`
        * Add containers to routers

    .step(data-title='Add call history and active calls tab to MainView', data-file='src/containers/MainView/index.js' data-highlight='8-9,12-13,32-46')
      :markdown
        ## Update tabs

        * Import tab icon
        * Add `Active Calls` and `Call History` tab

    .step(data-title='Play with Call History feature', data-file='README.md')
      :markdown
        ## Play with Call History feature

        Congradulations! Now you have finished adding call history feature to your app.

        Visit or refresh [http://localhost:8080](http://localhost:8080) to play with it.
  .chapter(data-title='Add ringout call feature to App')
    .step(data-title='Add call history feature to App', data-file='README.md')
      :markdown
        In this section, we will add RingOut Call feature to your ringcentral widgets app.

        It includes 3 steps:

        * Add call related modules to Phone module
        * Add call related container and router to App container
        * Add dialer tab to MainView

        ### Add permissions

        Before we start, you need to add `RingOut` permissions to your [RingCentral app](https://developer.ringcentral.com).

    .step(data-title='Add call related modules to Phone module', data-file='src/modules/Phone/index.js' data-highlight='30-39,81-90')
      :markdown
        ## Update Phone module

        * Import call related modules
        * Add call related modules to dependences

    .step(data-title='Add call UI container and router to App container', data-file='src/containers/App/index.js' data-highlight='7,9,98-105')
      :markdown
        ## Update App container

        * Import `CallingSettingsPage` and `DialerPage`
        * Add containers to routers
    .step(data-title='Add dialer tab to MainView', data-file='src/containers/MainView/index.js' data-highlight='16-17,26-31')
      :markdown
        ## Add dialer tab

        * Import tab icon
        * Add `Active Calls` and `Call History` tab
    .step(data-title='Play with RingOut Call feature', data-file='README.md')
      :markdown
        ## Play with Call feature

        Congradulations! Now you have finished adding call feature to your app. Now it supports to call with RingCentral Desktop and RingOut mode. Change calling mode in Calling Setting on Setting Page.

        Visit or refresh [http://localhost:8080](http://localhost:8080) to play with it.
  .chapter(data-title='Add messages feature to App')
    .step(data-title='Add messages feature to App', data-file='README.md')
      :markdown
         After adding calls feature, you must want to add messages feature to this app to send and receive message with RingCentral.

         It includes 3 steps:

         * Add messages related modules to Phone module
         * Add messages UI container and router to App container
         * Add messages tab to MainView

         ### Add permissions

         Before we start, you need to add `SMS`, `Internal Messages`, `Read Messages` and `Edit Messages` permissions to your [RingCentral app](https://developer.ringcentral.com).
    .step(data-title='Add messages related modules to Phone module', data-file='src/modules/Phone/index.js' data-highlight='44-49,92-97')
      :markdown
        ## Update Phone module

        * Import messages history related modules
        * Add message related modules to dependences

    .step(data-title='Add messages UI container and router to App container', data-file='src/containers/App/index.js' data-highlight='17-19,106-127')
      :markdown
        ## Update App container

        * Import `ComposeTextPage`, `MessagesPage` and `ConversationPage`
        * Add containers to routers

    .step(data-title='Add messages tab to MainView', data-file='src/containers/MainView/index.js' data-highlight='19-20,47-56')
      :markdown
        ## Update tabs

        * Import tab icon
        * Add `Messages` tab

    .step(data-title='Play with messages feature', data-file='README.md')
      :markdown
        ## Play with messages feature

        Congradulations! Now you have finished adding messages feature to your app.

        Visit or refresh [http://localhost:8080](http://localhost:8080) to play with it.
  .chapter(data-title='Add conference feature to App')
    .step(data-title='Add conference feature to App', data-file='README.md')
      :markdown
         In this chapter, we will learn how to add conference feature to our app.

         It includes 3 steps:

         * Add conference related modules to Phone module
         * Add conference UI container and router to App container
         * Add conference tab to MainView
         * Add third party button on conference invite page

    .step(data-title='Add conference related modules to Phone module', data-file='src/modules/Phone/index.js' data-highlight='51,98')
      :markdown
        ## Update Phone module

        * Import conference history related modules
        * Add conference related modules to dependences

    .step(data-title='Add conference UI container and router to App container', data-file='src/containers/App/index.v1.js' data-highlight='21-22,128-139')
      :markdown
        Update App container in `src/containers/App/index.js`

        * Import `ConferenceCommands` and `ConferencePage`
        * Add containers to routers

    .step(data-title='Add conference tab to MainView', data-file='src/containers/MainView/index.js' data-highlight='22-23,57-65')
      :markdown
        ## Update tabs

        * Import tab icon
        * Add `Conference` tab
    .step(data-title='Add a third party button', data-file='src/components/ThirdPartyConferenceInviteButton/index.js')
      :markdown
        ## Create a Button component

        Add your logics here to interact with third party platform.
        In this tutorial, we use google calendar as third party platform.
    .step(data-title='Add button to conference page', data-file='src/containers/App/index.js' data-highlight='26,136-145')
      :markdown
        ## Add button to conference page

        Pass the button component to conference page in App container.

    .step(data-title='Play with conference feature', data-file='README.md')
      :markdown
        ## Play with feature feature

        Congradulations! Now you have finished adding messages feature to your app.

        Visit or refresh [http://localhost:8080](http://localhost:8080) to play with it.
  .chapter(data-title='Add a new module')
    .step(data-title='Use CLI to generate module scaffold', data-file='src/modules/LocalPresence/index.js')
      :markdown
        ## Use CLI to generate module scaffold

        ```
        $ rc-widgets g Module LocalPresence -d DetailedPresence
        ```

        It will create a module named LocalPresence with dependence DetailedPresence in `src/modules`.
    .step(data-title='Subsciption calls', data-file='src/modules/LocalPresence/index.js' data-highlight='44-49')
      :markdown
        Check if there are calls changed on state changed.
